<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/notes" style="color: black;"></ion-back-button>
  </ion-buttons>

  <ion-buttons slot="end" *ngIf="noteTitle || noteContent">
    <ion-button (click)="saveNote()" style="color: black;">
      <ion-icon slot="icon-only" name="save"></ion-icon>
    </ion-button>
    
    <ion-button (click)="presentPopover($event)">
      <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>


<div class="date-container">
  <div class="date">
    <span class="day-number">{{ currentDate | date: 'dd' }}</span>
    <span class="month">{{ currentDate | date: 'MMMM' }}</span>
  </div>
  
  <div class="date">
    <div class="year">{{ currentDate | date: 'yyyy' }}</div>
    <p>,</p>
    <div class="day">{{ currentDate | date: 'EEEE' }}</div>
  </div>
</div>

  <div class="bottom-border"></div>
</ion-header>



<ion-content >
  <ion-textarea [(ngModel)]="noteTitle" placeholder="Title" auto-grow="true" cols="1" rows="1" class="title-text"></ion-textarea>

<quill-editor [styles]="editorStyle" [(ngModel)]="noteContent" class="note-text"></quill-editor>
  </ion-content>
  