ion-header {
  background-color: white;
  --background:white;
  text-align: left;
}

ion-button{
  color:black;
}

ion-content{
  --background:white;
}

ion-toolbar{
  --background:rgb(255, 255, 255);
}

/* Remove line separator */
ion-header,
ion-content {
  box-shadow: none;
}


.date-container {
  text-align: left;
  margin-top: 10px;
  padding-left:10px;
}

.date {
  padding-left:14px;
  display: flex;
  justify-content: left;
  // align-items: baseline;
}

.day-number {
  color:rgb(58, 107, 255);
  font-weight: 520;
  font-size: 2.1em;
  margin-right: 5px;
}

.month {
  color: black;
  font-size: 2.1em;
  font-weight: 540;
  margin-left: 6px;
}

.year {
  margin-top:5px;
  color: rgb(101, 101, 101);
  font-size: 1em;
  // margin-left: 4px;
}

p{
  margin-top:5px;
  color:rgb(101, 101, 101);
}

.day {
  margin-top:5px;
  padding-left: 4px;
  color: rgb(101, 101, 101);
  font-size: 1em;
  font-weight: bold;
}


.bottom-border {
  border-bottom: 1px solid rgb(225, 222, 222);
  // box-shadow: None;
}

.sc-ion-textarea-md-h {
  --padding-top: 16px;
}

.title-text{
  --placeholder-color: rgb(21, 21, 21);
  padding-left: 10px;
  margin-left: 15px;
  padding-top: 0px;
  width: 85%;
  color: black;
  height: auto; /* Let the height be controlled by content */
  overflow-y: hidden; /* Hide scrollbars */
  resize: none; /* Prevent manual resizing */
  font-size: 1.45em;
  font-weight: 548;
  line-height: 1.45em; /* Ensure the line height matches the font size */
  --highlight-color:disabled;
  caret-color:rgb(58, 107, 255);
  --highlight-color-focused:disabled;
}


.note-text {
  color: rgb(13, 13, 13);
  width:100%;
  height: auto; /* Let the height be controlled by content */
  overflow-y: hidden; /* Hide scrollbars */
  resize: none; /* Prevent manual resizing */
  --placeholder-color: rgb(21, 21, 21);
  caret-color:rgb(12, 12, 12);

}
