
@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&display=swap');

:root {
  --font-family: 'Proxima Nova', sans-serif;
}

ion-menu-button{
  --color:white !important;
   color:white !important;
}

body {
  font-family: var(--font-family);
}

.toolbar-notes{
    padding-top: 6px;
    padding-bottom: 4px;
    border-bottom: 2px  solid #e5f2ff;
}


ion-header,
ion-content {
  box-shadow: none;
}



ion-content {
  --background: #ffffff;
  padding: 16px;
}


ion-toolbar {
  --background: #ffffff;
  --color: #000000; 
  padding: 8px 1px 1px 1px;
  justify-content: space-between;
  height: 64px; 
}


.app-title {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #000000; 
}


.custom-menu {
    --width: 75%;
  }

.menu-toolbar {
    --background: #ffffff;
    align-items: center;
    padding: 16px;
    height: 70px;
    border: none; 
    box-shadow: none; 
}

.menu-icon {
    margin-left: 8px; 
    width: 32px; 
    height: 32px; 
}

.menu-title {
    font-family: var(--font-family);
    font-size: 22px;
    font-weight: bold;
    color: #000000; 
    margin: 0;
}
  

.menu-toolbar img {
margin: 0; 
}


.search-bar {
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  
  --icon-color:black;
  --background: #F5F6F6; 
  --placeholder-color: #000000; 
  --color: #000000; 
  --border-radius: 12px;
  margin: 6px;
  padding-right: 18px; 
  padding-top: 6px; 
  --placeholder-font-style: normal; 
  --box-shadow: none;
}


.menu-header {
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 540;
  color: #4d4d4d; 
  margin-top: 12px;
  padding-left: 16px;
}

.menu-item {
  --background: #ffffff; 
  --color: #000000;
  --border-radius: 12px; 
  padding-top: 2px;
  padding-left:  10px; 
  padding-right:  10px;
  padding-bottom: 6px;
  font-weight: bold;
 --border-color:transparent;
}

.menu-item:hover {
  --background: #F5F6F6; 
}
.menu-item.active {
  --background: #F5F6F6;
}

.menu-item ion-icon {
  color: #000000; 
}
ion-list {
    --ion-item-background: #ffffff;
    --background: #ffffff;
    --ion-background-color: #fefefe;
    --box-shadow: none; 
    --border-color: transparent; 
    --border-bottom: 1px solid #ffffff; 
}

:host{
    --background:#ffffff;
    --display:flex;
}
  

#container {
  text-align: left;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 24px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}


.toolbar-header{
  background-color: #ffffff;
  display: flex;
  --background: #ffffff;
  align-items: center;
  padding: 14px;
  height: 70px;
  border: none;
  box-shadow: none; 
}
