/* Import Proxima Nova font */
@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&display=swap');

/* Apply Proxima Nova font to the entire app */
:root {
  --font-family: 'Proxima Nova', sans-serif;
}

/* Apply font to entire app */
body {
  font-family: var(--font-family);
}

.toolbar-notes{
  padding-top: 6px;
  padding-bottom: 4px;
  border-bottom: 2px  solid #e2e2e2;
}


.toolbar-notes[_ngcontent-ng-c4147089924] {
  --background: #000000;
}

// // /* Remove line separator */
// ion-header,
// ion-content {
//   box-shadow: none;
//   --box-shadow:none;
// }

ion-menu-button{
  --color:white !important;
   color:white !important;
}

/* Set the background color of the entire page */
ion-content {
  --background: #ffffff; /* White background */
  padding: 1px;
}

/* Title styling */
.app-title {
  font-family: var(--font-family);
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  color: #ffffff; /* Black color for the title */
}
/* Toolbar styling */
ion-toolbar {
  // --background: #ffffff; /* White background */
  --color: #ffffff; /* Black color for text */
  padding: 8px 4px;
  justify-content: space-between;
  height: 64px; /* Set a consistent height */
}


/* FAB button styling */
ion-fab-button {
  --background: #2b75ff; /* Black background */
  --color: #ffffff; /* White icon color */
  // --color: #fef1de;
}

ion-fab {
  position: fixed;
  bottom: 40px; /* Adjust as needed */
  right: 20px;  /* Adjust as needed */
  z-index: 10; /* Make sure it stays above other elements */
}

/* Container for the cards */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* Styling for individual cards */
.note-card {
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;

  flex: 1 1 auto; 
  --background: #ededed; /* Card background color */
  box-shadow: none; /* Remove shadow */
  padding: 0px; /* Add padding inside the card */
  text-align: left; /* Align text to the left */
}

/* Title styling */
.note-card ion-card-title {
  font-family: 'Roboto', sans-serif; /* Roboto for title */
  font-weight: bold; /* Bold title */
  font-size: 18px; /* Larger title font size */
  color: #000000; /* Black color for title */
  margin-bottom: 0px; /* Space below title */
}

/* Content styling */
.note-card ion-card-content {
  font-family: 'sans-serif'; /* Sans-serif for content */
  font-weight: normal; /* Regular content */
  font-size: 14px; /* Smaller than title */
  color: #333; /* Dark grey color for text */
}

.toolbar-notes {
  --background: #fff;
}

.selection-toolbar {
  border-bottom: 2px solid #323232;
  --background: #000000; /* Light blue color */
  padding: 0; /* Remove default padding */
}

.selection-toolbar ion-title {
  font-weight: bold;
  font-size: 1.1em; /* Adjust size as needed */
}

.selection-toolbar ion-buttons {
  height: 100%; /* Ensure buttons take full height of the toolbar */
  display: flex;
  align-items: center; /* Center items vertically */
  color: #ffffff;
}

.selection-toolbar ion-button {
  --padding-start: 0; /* Adjust padding as needed */
  --padding-end: 0px; /* Adjust padding as needed */
  margin: 0 10px; /* Add horizontal margin between buttons */
  height: 100%; /* Ensure button height matches toolbar height */
  display: flex;
  align-items: center; /* Center icons vertically */
}

.toolbar-notes ion-button {
  --padding-start: 0; /* Adjust padding as needed */
  --padding-end: 5px; /* Adjust padding as needed */
  margin: 0 12px; /* Add horizontal margin between buttons */
  height: 100%; /* Ensure button height matches toolbar height */
  display: flex;
  align-items: center; /* Center icons vertically */
}


.selection-toolbar mat-icon {
  font-size: 26px; /* Adjust icon size as needed */
}
.toolbar-notes mat-icon {
  font-size: 26px; /* Adjust icon size as needed */
}

.selected-count {
  padding-top: 10px;
  padding-left:35px;
  font-weight: bold;
  // font-size: 0.9em; /* Adjust size as needed */
}

.note-card {
  transition: border 0.25s ease
}




