@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&display=swap');

:root {
  --font-family: 'Proxima Nova', sans-serif;
}

body {
  font-family: var(--font-family);
}


ion-header,
ion-content {
  box-shadow: none;
  --box-shadow:none;
}

ion-content {
  --background: #ffffff; 
  padding: 1px;
}

ion-menu-button{
  --color:rgb(0, 0, 0) !important;
   color:rgb(0, 0, 0) !important;
}



ion-toolbar {
  --color: #000000; 
  padding: 8px 4px;
  justify-content: space-between;
  height: 64px; 
}


ion-fab-button {
  --background: #2b75ff; 
  --color: #ffffff; 
}

ion-fab {
  position: fixed;
  bottom: 40px; 
  right: 20px;  
  z-index: 10;
}


.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}


.note-card {
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;

  flex: 1 1 auto; 
  --background: #ededed; 
  box-shadow: none; 
  padding: 0px; 
  text-align: left;
}


.note-card ion-card-title {
  font-family: 'Roboto', sans-serif; 
  font-weight: bold; 
  font-size: 18px; 
  color: #000000;
  margin-bottom: 0px; 
}


.note-card ion-card-content {
  font-family: 'sans-serif'; 
  font-weight: normal;
  font-size: 14px;
  color: #333; 
}o

.toolbar-notes {
  --background: #fff;
}

.selection-toolbar {
  border-bottom: 2px solid #323232;
  --background: #000000;
  padding: 0; 
}

.selection-toolbar ion-title {
  font-weight: bold;
  font-size: 1.1em; 
}

.selection-toolbar ion-buttons {
  height: 100%; 
  display: flex;
  align-items: center; 
  color: #ffffff;
}

.selection-toolbar ion-button {
  --padding-start: 0; 
  --padding-end: 0px; 
  margin: 0 10px; 
  height: 100%; 
  display: flex;
  align-items: center;
}

.toolbar-notes ion-button {
  --padding-start: 0; 
  --padding-end: 5px; 
  margin: 0 12px; 
  height: 100%;
  display: flex;
  align-items: center;
}


.selection-toolbar mat-icon {
  font-size: 26px;
}
.toolbar-notes mat-icon {
  font-size: 26px; 
}

.selected-count {
  padding-top: 10px;
  padding-left:35px;
  font-weight: bold;
 
}

.toolbar-notes, .toolbar-search {
  transition: opacity 0.5s ease-in-out;
}

.toolbar-notes.ng-enter, .toolbar-search.ng-enter {
  opacity: 0;
}

.toolbar-notes.ng-enter-active, .toolbar-search.ng-enter-active {
  opacity: 1;
}

.toolbar-notes.ng-leave, .toolbar-search.ng-leave {
  opacity: 1;
}

.toolbar-notes.ng-leave-active, .toolbar-search.ng-leave-active {
  opacity: 0;
}


ion-toolbar.toolbar-search {
  --background: #fff; 
  width: auto;
}

.mysearch-bar {
  --icon-color:black;
  --background: #F5F6F6;
  --placeholder-color: #000000; 
  --color: #000000;
  --border-radius: 12px;
    margin: 6px;
  --border-radius: 18px; 
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 25px;
  --padding-bottom: 5px;
  padding-right: 18px; 
  padding-top: 6px;
  --placeholder-font-style: normal; 
  --box-shadow: none;
}


.no_cards{
  display: flex;
  height: 100%;
  --font-size: 1.5em;
  color: #000000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}