<ion-header>
  <ion-toolbar class="toolbar-notes">
    <ion-buttons slot="start">
      <ion-menu-button style="font-weight: bold; color: rgb(0, 0, 0);"></ion-menu-button>
    </ion-buttons>
    <ion-title class="app-title">Archive</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="enterSelectionMode()">
        <mat-icon>check_box_outline_blank</mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="inSelectionMode" class="selection-toolbar">
    <ion-buttons slot="start">
      <ion-title class="selected-count">{{ selectedNotes.length }} Selected</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="deleteSelectedNotes()">
        <mat-icon>delete_outline</mat-icon>
      </ion-button>
      <ion-button (click)="unarchiveSelectedNotes()">
        <mat-icon class="material-symbols-outlined">
          unarchive
          </mat-icon>
      </ion-button>
      <ion-button (click)="shareSelectedNotes()">
        <mat-icon>share_social</mat-icon>
      </ion-button>
      <ion-button (click)="exitSelectionMode()">
        <mat-icon>close</mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="ion-padding">
  <div class="cards-container">
    <ion-card *ngFor="let note of notes"
      class="note-card"
      [ngStyle]="{
        '--background': note.color,
        'border-color': selectedNotes.includes(note) ? 'black' : note.bcolor,
        'border-width': '2px',
        'border-style': 'solid',
        'border-radius':'20px'
      }"
      [class.selected]="selectedNotes.includes(note)"
      (click)="onCardClick(note)">
      <ion-card-header>
        <ion-card-title>{{ note.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content [innerHTML]="note.content">
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
