/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

@import '~material-design-icons/iconfont/material-icons.css';
@import '~quill/dist/quill.snow.css';



.toolbar-notes{
  padding-top: 6px;
  padding-bottom: 4px;
  border-bottom: 2px  solid #e2e2e2;
}


.toolbar-notes[_ngcontent-ng-c4147089924] {
  --background: #ffffff;
}


/* Title styling */
.app-title {
  font-family: var(--font-family);
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  color: #000000; /* Black color for the title */
}

.ql-editor{
    width: 100%;
}

.ql-editor.ql-blank::before{
    font-style: normal;
    padding-left: 4px;
    font-size: 'medium',  // Set font size to medium

}

.ql-toolbar.ql-snow{
    background-color: whitesmoke;
    border : 1px solid #cecece;
}

.ql-toolbar.ql-snow .ql-formats {
    margin-right: 4px;
}


.toast-custom {
    --background: #000;        // Black background color
    --color: #fff;             // White text color
    --border-radius: 18px;     // Rounded corners
    --box-shadow: none;        // No shadow
    --padding-start: 15px;     // Padding on the left
    --padding-end: 15px;       // Padding on the right
    --padding-top:15px;       // Padding on the top
    --padding-bottom: 25px;    // Padding on the bottom
    --margin-bottom:25px;
    --max-width: fit-content;  // Width adjusts to fit the content
    --min-width: 150px;        // Optional: Minimum width to prevent too narrow appearance
    --text-align: center;      // Center the text
  }