// /* Remove line separator */
ion-header,
ion-content {
  box-shadow: none;
  --box-shadow:none;
}

/* Set the background color of the entire page */
ion-content {
    --background: #ffffff; /* White background */
    padding: 1px;
  }
  

/* Toolbar styling */
ion-toolbar {
// --background: #ffffff; /* White background */
--color: #000000; /* Black color for text */
    padding: 8px 4px;
    justify-content: space-between;
    height: 64px; /* Set a consistent height */
  }

.toolbar-notes {
--background: #fff;
}

ion-content {
    --background: #ffffff;
    height: 100%;
    min-height: 100vh; /* Ensure it covers the viewport height */
    display: flex;
    flex-direction: column;
  }
  
  /* FAB button styling */
ion-fab-button {
    --background: #2b75ff; /* Black background */
    --color: #ffffff; /* White icon color */
    // --color: #fef1de;
  }
  
  ion-fab {
    position: fixed;
    bottom: 40px; /* Adjust as needed */
    right: 20px;  /* Adjust as needed */
    z-index: 10; /* Make sure it stays above other elements */
  }
  

.date-display{
  padding-top: 5px;
  font-size: 1.4em;
  font-weight: 548;
}


/* Container for the cards */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex: 1; // Allows notes area to take up remaining space
  padding: 16px;
  overflow-y: auto; // Enables vertical scrolling for notes area
  margin-bottom: 30px;
  margin-top: 20px;
  padding-bottom: 40px;
}

.note-card {
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;

  flex: 1 1 auto; 
  --background: #ededed; /* Card background color */
  box-shadow: none; /* Remove shadow */
  padding: 0px; /* Add padding inside the card */
  text-align: left; /* Align text to the left */
}

/* Title styling */
.note-card ion-card-title {
  font-family: 'Roboto', sans-serif; /* Roboto for title */
  font-weight: bold; /* Bold title */
  font-size: 18px; /* Larger title font size */
  color: #000000; /* Black color for title */
  margin-bottom: 0px; /* Space below title */
}

/* Content styling */
.note-card ion-card-content {
  font-family: 'sans-serif'; /* Sans-serif for content */
  font-weight: normal; /* Regular content */
  font-size: 14px; /* Smaller than title */
  color: #333; /* Dark grey color for text */
}

.toolbar-calendar{
  --background:white;
}


.content-calendar {
  background: #ffffff; /* Toolbar background color */
  color: #000000; /* Toolbar text color */
  border-color: #e0e0e0; /* Toolbar bottom border color */
  overflow: auto;
}

.calendar-container {
  min-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
  max-width: 550px; /* Limit the maximum width to 800px */
  margin: 10px auto; /* Center the container */
  background-color: rgba(255, 255, 255, 0);
  border-radius: 22px;
  padding: 6px; /* Add some padding for better spacing */
  box-sizing: border-box; /* Ensure padding doesn't affect the width */
}

.material-calendar {
  width: 100%;
  max-width: 100%; /* Ensure the calendar takes up the full width of the container */
  --border-radius: 4px;
  border-radius: 22px;

}


ion-datetime {
  --background: #d4e5ff; /* Light blue background */
  --background-rgb: 212, 229, 255;

  border-radius: 16px;
  box-shadow: rgba(66, 75, 255, 0.3) 0px 10px 15px -3px; /* Blue-themed shadow */
}
