<ion-header>
  <ion-toolbar class="toolbar-calendar">
    <ion-buttons slot="start">
      <ion-menu-button style="font-weight: bold; color: rgb(0, 0, 0);"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="date-display">Calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="content-calendar">

  <div class="calendar-container">
    <ion-datetime
      type="date"
      [(ngModel)]="selectedDate"
      (ionChange)="onDateSelected($event)"
      display-format="MMM d, yyyy"
      presentation="date"
      mode="md"
      size="cover"
      class="material-calendar">
      <span slot="title">Select Date</span>
    </ion-datetime>
  </div>
  
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="selectedDate">
      <ion-fab-button (click)="createNote()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  <div class="cards-container">
    <ng-container *ngIf="notes && notes.length > 0">
    <ion-card *ngFor="let note of notes"
      class="note-card"
      [ngStyle]="{
        '--background': note.color,
        'border-color': note.bcolor,
        'border-width': '2px',
        'border-style': 'solid',
        'border-radius':'20px'
      }"
      (click)="onCardClick(note)">
      <ion-card-header>
        <ion-card-title>{{ note.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content [innerHTML]="note.content"> </ion-card-content>
    </ion-card>
    </ng-container>
  </div>
</ion-content>
