ion-header,
ion-content {
  box-shadow: none;
  --box-shadow:none;
}

ion-content {
    --background: #ffffff;
  }
  
ion-toolbar {
--color: #000000;
    padding: 8px 4px;
    justify-content: space-between;
    height: 64px; 
  }

.toolbar-notes {
--background: #fff;
}

ion-content {
    --background: #ffffff;
    height: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
  }
  
ion-fab-button {
    --background: #2b75ff; 
    --color: #ffffff;
  }
  
  ion-fab {
    position: fixed;
    bottom: 40px;
    right: 20px; 
    z-index: 10;
  }
  

.date-display{
  padding-top: 5px;
  font-size: 1.4em;
  font-weight: 548;
}


.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex: 1; 
  padding: 16px;
  overflow-y: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  padding-bottom: 40px;
}

.note-card {
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;

  flex: 1 1 auto; 
  --background: #ededed; 
  box-shadow: none; 
  padding: 0px; 
  text-align: left; 
}

.note-card ion-card-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px; 
  color: #000000; 
  margin-bottom: 0px; 
}

.note-card ion-card-content {
  font-family: 'sans-serif'; 
  font-weight: normal; 
  font-size: 14px;
  color: #333;
}

.toolbar-calendar{
  --background:white;
}


.content-calendar {
  background: #ffffff; 
  color: #000000;
  border-color: #e0e0e0; 
  overflow: auto;
}

.calendar-container {
  min-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
  max-width: 550px; 
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 22px;
  padding: 6px; 
  box-sizing: border-box;
}

.material-calendar {
  width: 100%;
  max-width: 100%; 
  --border-radius: 4px;
  border-radius: 22px;
  color:#2255b3;
}


ion-datetime {
  --background: #d4e5ff; 
  --background-rgb: 212, 229, 255;

  border-radius: 16px;
  box-shadow: rgba(66, 75, 255, 0.3) 0px 10px 15px -3px; 
}

ion-datetime::part(month-year-button) {
  color: #3460ff;
}
